h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
}

.header-title {
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 8px;
}

.list {
  display: flex;
  width: 100%;
  max-width: 400px;
  flex-direction: column;
  gap: 16px;
}

.list-header {
  h2 {
    font-weight: 500;
    font-size: 16px;
  }
  p {
    color: #64748b;
    font-size: 14px;
    margin-top: 4px;
  }
}

.list-items {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.avatars {
  display: flex;
  gap: 4px;
  margin-left: auto;
}

.avatar {
  width: 28px;
  height: 28px;
  border-radius: 100px;
  background: #f1f5f9;
  display: grid;
  place-items: center;
  color: #64748b;

  font-size: 8px;
  text-transform: uppercase;
}

.list-item {
  font-weight: 500;
  border-radius: 6px;
  cursor: grab;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #cbd5e1;
  position: relative;
  background: white;
}
.list-item-inner {
  width: 100%;
  padding: 12px 8px 12px 24px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background: white;
}

.list-item-bar {
  width: 6px;
  height: 32px;
  background: red;
  border-radius: 100px;
  position: absolute;
  left: 6px;
}

.list-item-selection {
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  border-radius: 8px;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: inherit;
  font-weight: 500;
  border-radius: 6px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.add-button {
  background: #e2e8f0;
  width: 100%;
  height: 48px;
}

.delete-button {
  opacity: 0%;
}

.list-item:hover {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  .delete-button {
    opacity: 25%;
    &:hover {
      opacity: 100%;
    }
  }
}

.container {
  display: grid;
  justify-items: center;
  height: 100dvh;
  padding: 0 16px;
  padding-top: 0px;
}
